
.customization {
	position:absolute;
	left:0;
	top:0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

.customization > .top {
	display:block;
	margin:0;
	padding:0;
	background:#333;
	border-bottom:4px solid #555;
	box-shadow:0 0 10px #000;
}
.customization > .top > .button {
	display:inline-block;
	margin:6px;
	padding:0 8px;
	background:#323232;
	border-radius:5px;
	border:10px solid;
	border-image:url("../images/outline_green.svg");
	border-image-slice:20;
	-webkit-filter:drop-shadow(0 0 3px #000);
	filter:drop-shadow(0 0 3px #000);
	color:#96ff96;
	font-size:32px;
	text-shadow:0 0 5px #000;

	pointer-events:auto;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
}
.customization > .top > .button:hover {
	background:#3c3c3c;
}
.customization > .top > .button:active {
	background:#1e1e1e;
}
.customization > .top > .button > img {
	margin:2px -6px;
	padding:0;
	height:32px;
	vertical-align:middle;
	-webkit-filter:drop-shadow(0 0 3px #000);
	filter:drop-shadow(0 0 3px #000);
}

.customization > .colors {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	text-align:center;
	white-space:nowrap;
}

.customization > .colors > div {
	display:inline-block;
	margin:0 10px;
	padding:20px 20px 14px 20px;
	width:160px;
	background:url("../images/color_picker.svg");
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-filter:drop-shadow(0 0 3px #000);
	filter:drop-shadow(0 0 3px #000);
	text-align:center;
	pointer-events:auto;
}
.customization > .colors > div > div {
	margin:0 auto;
}
.customization > .colors > div > h2 {
	margin:0 0 8px 0;
	padding:0;
	font-size:24px;
	font-weight:normal;
	text-shadow:0 0 4px #000;
	color:#fff;

	pointer-events:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
