
.loading {
	margin:200px 0 0 0;
	padding:0;
}

.loading > p {
	margin:5px;
	padding:0;
	color:#96ff96;
	font-size:32px;
	text-shadow:0 0 5px #000;
}

.loading > div {
	margin:0 auto;
	padding:0;
	width:600px;
	height:50px;
	background:url("../images/loading.svg");
	-webkit-filter:drop-shadow(0 0 3px #000);
	filter:drop-shadow(0 0 3px #000);
	overflow:hidden;
}

.loading > div > div {
	margin:15px 20px;
	padding:0;
	width:560px;
	height:20px;
	background:#222;
	box-shadow:inset 0 0 6px #000;
}

.loading > div > div > div {
	margin:0;
	padding:0;
	width:0;
	height:100%;
	background:#96ff96;
	box-shadow:inset 0 0 6px #000;
}
