
.speedometer {
	position:absolute;
	bottom:0;
	right:0;
	margin:0;
	padding:8px 5px 0 0;
	width:200px;
	line-height:48px;
	font-size:40px;
	color:#fff;
	text-shadow:0 0 4px #000;
	background:url("../images/speedometer.svg");
	background-position:right bottom;
	background-size:contain;
	background-repeat:no-repeat;
	text-align: right;
	opacity:0.9;

	pointer-events:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.speedometer > span:last-of-type {
	opacity:0.5;
	margin:0 0 0 0.25em;
	padding:0;
	font-size:0.5em;
}
.speedometer > span > span {
	display:inline-block;
	width:0.5em;
	text-align:center;
}
