
.timer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height: 68px;
	text-align:center;
	opacity:0.9;
	background:url("../images/timer.svg");
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;

	pointer-events:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.timer > p {
	display:inline-block;
	margin:12px 0;
	padding:0;
	width:205px;
	text-align:center;
	font-size:45px;
	color:#fff;
	text-shadow:0 0 4px #000;
	white-space: nowrap;
}
.timer > p.small {
	margin:0 28px;
	vertical-align: middle;
	width:180px;
	font-size:35px;
}
.timer > p.green {
	color:#5f5;
}
.timer > p.red {
	color:#f55;
}
.timer > p.center {
	text-align:center;
}
.timer > p > span.sign {
	margin-left: -4px;
	width:0.7em;
}
.timer > p > span {
	display:inline-block;
	width:0.5em;
	text-align:center;
}

.timer > span {
	position:absolute;
	left:0;
	top:-8px;
	width: 100%;
}
.timer > span > p {
	display:inline-block;
	margin:0 55px;
	padding:0;
	width:110px;
	text-align:center;
	font-size:20px;
	color:#fff;
	text-shadow:0 0 4px #000;
}
.timer > span > p:nth-of-type(2) {
	position:relative;
	top:-14px;
}
