
.track-selection {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(100% - 250px);
	text-align: center;
}
.track-selection.editor-track-selection {
	height: 100%;
}

.track-selection > .bar {
	margin:0;
	padding:0;
	width:100%;
	background:#333;
	border-top:4px solid #555;
	border-bottom:4px solid #555;
	box-shadow:0 0 10px #000;
	text-align:left;

	pointer-events:auto;
}
.track-selection.editor-track-selection > .bar {
	border-top: none;
}
.track-selection > .bar > .button {
	display:inline-block;
	margin:6px;
	padding:0 8px;
	background:#323232;
	border-radius:5px;
	border:10px solid;
	border-image:url("../images/outline_green.svg");
	border-image-slice:20;
	-webkit-filter:drop-shadow(0 0 3px #000);
	filter:drop-shadow(0 0 3px #000);
	color:#96ff96;
	font-size:32px;
	text-shadow:0 0 5px #000;

	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
}
.track-selection > .bar > .button.right {
	float: right;
}
.track-selection > .bar > .button:hover {
	background:#3c3c3c;
}
.track-selection > .bar > .button:active {
	background:#1e1e1e;
}
.track-selection > .bar > .button > img {
	margin:2px -6px;
	padding:0;
	height:32px;
	vertical-align:middle;
	-webkit-filter:drop-shadow(0 0 3px #000);
	filter:drop-shadow(0 0 3px #000);
}

.track-selection .tracks-container {
	margin: 0;
	padding: 20px 0;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 80px);
	overflow-y: auto;
	pointer-events: auto;
	background-color: rgba(51, 51, 51, 0.3);
}
.track-selection.editor-track-selection {
	background: rgba(20, 20, 20, 0.8);
}

.track-selection .tracks-container .track {
	position: relative;
	display: inline-block;
	margin: 10px;
	color:#96ff96;
	font-size:32px;
	text-shadow:0 0 5px #000;
}

.track-selection h2 {
	margin:0.5em 0.75em;
	padding:0;
	color:#96ff96;
	font-size: 50px;
	font-weight: normal;
	text-shadow:0 0 5px #000;
	border-bottom: solid 3px #96ff96
}

.track-selection .record {
	margin: 10px 12px;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 14px;
	color: #96ff96;
	text-shadow:0 0 3px #000;
}

.track-selection .delete-button {
	position: absolute;
	top: 11px;
	right: 11px;
	margin:0;
	padding:0;
	vertical-align: middle;
	background:#323232;
	border-radius: 2px;
	border:2px solid #96ff96;

	pointer-events:auto;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
}
.track-selection .delete-button:hover {
	background:#3c3c3c;
}
.track-selection .delete-button:active {
	background:#1e1e1e;
}
.track-selection .delete-button > img {
	pointer-events: none;
	margin: 0;
	padding: 0;
	height: 20px;
	vertical-align: top;
	-webkit-filter: drop-shadow(0 0 3px #000);
	filter: drop-shadow(0 0 3px #000);
}

.track-selection .thumbnail {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 200px;
	border: none;
	background: url("../images/button.svg");
	-webkit-filter: drop-shadow(0 0 3px #000);
	filter: drop-shadow(0 0 3px #000);

	pointer-events: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.track-selection .thumbnail:hover {
	background:url("../images/button_hover.svg");
}
.track-selection .thumbnail:active {
	background:url("../images/button_click.svg");
}
.track-selection .thumbnail > canvas {
	margin:0;
	padding:0;
	width:128px;
	height:128px;
	object-fit: contain;
	-webkit-filter:drop-shadow(0 0 3px #000);
	filter:drop-shadow(0 0 3px #000);
	image-rendering:pixelated;
}

.track-selection .track p {
	margin: 5px 0 0 0;
	max-width: 200px;
	white-space: nowrap;
	font-size: 20px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
}
